<h1><%= @cat.name %><h1/>

<table border = 2>
<tr>
<th>Attribute</th>  
<th>Value</th>
</tr>

<% [:birth_date, :color, :name, :sex].each do |attr_name| %>
    <tr>
        <td><%= attr_name %></td>
        <td><%= @cat.send(attr_name) %></td>  
    </tr>
    <% end %>
<% if @cat.description.present? %>
<tr>
    <th colspan="2">Description</th>
</tr>
<tr>
    <td colspan="2"><%= @cat.description %></td>
</tr>
<% end %>
</table>


